@(name: String, city: String, city_code: String, country: String, country_code: String, longi: Double, lat: Double, rating: Double)(userInfo: UserInfo)
@import service.DatabaseLayer
<!DOCTYPE html>
<html>
    <head>
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.at("stylesheets/bootstrap-social.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome-4.3.0/css/font-awesome.min.css")" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <style>
            dt, dd{
                padding-top: 20px;
            }
            .border-left-light {
                border-left-color:#ccc;
                border-left-width:1px;
            }
        </style>
    </head>
    <body>

        @navbar(userInfo)
    
        <div class="container" style="padding-top: 100px">
            <div class="col-sm-4 col-md-4 col-lg-4" name="company-image">
                <img src="@routes.Assets.at("images/airport.png")" alt="Airport Logo" width="300" height="300"/>
                <dl class="dl-horizontal">
                    <dt>Airport Name:</dt>
                    <dd>@name</dd>
                    <dt>City:</dt>
                    <dd>@city (@city_code)</dd>
                    <dt>Country:</dt>
                    <dd>@country (@country_code)</dd>
                    <dt>Company Rating:</dt>
                    <dd>@rating / 5.00</dd>
                </dl>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    @rating_stars()
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 border-left-light" name="rating">
                <p>Ceva</p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" name="right-div-for-padding"></div>
        </div>
    </body>

    <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.min.js")"></script>
</html>
