@(userInfo: UserInfo)
<!DOCTYPE html>
<html>
    <head>
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.at("stylesheets/bootstrap-social.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome-4.3.0/css/font-awesome.min.css")" rel="stylesheet">

        <style>
            .rounded {
                width: 100px;
                height: 100px;
            }
        </style>
    </head>
    <body>

        @navbar(userInfo)
        
        <div class="container" style="padding-top: 70px">
            <div class="col-sm-2 col-md-2 col-lg-2" name="left-div-for-padding"></div>
            <div class="col-sm-8 col-md-8 col-lg-8" name="center-div">
                <ul class="nav nav-tabs nav-justified">
                    <li><a data-toggle="tab" href="#aurelian"><img class="img-circle rounded img-responsive center-block" src="http://qph.is.quoracdn.net/main-thumb-18206561-200-cndhhnkzsdvfrsiqbmcaciddwdiwdosz.jpeg"></img></a></li>
                    <li><a data-toggle="tab" href="#danut"><img class="img-circle rounded img-responsive center-block" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1509224_596251720448168_2051534468_n.jpg?oh=1017d80492f693cad8ce52d99987511c&oe=5604FB8E"></img></a></li>
                    <li><a data-toggle="tab" href="#nicu"><img class="img-circle rounded img-responsive center-block" src="https://lh3.googleusercontent.com/-ADQQWvUZeRQ/AAAAAAAAAAI/AAAAAAAAAAA/9kTimyjPy_0/photo.jpg"></img></a></li>
                    <li><a data-toggle="tab" href="#borcan"><img class="img-circle rounded img-responsive center-block" src="https://scontent-fra3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1385252_1384464158456695_187315129_n.jpg?oh=e89605289d115200910bb2e71edfb737&oe=55FDD2EC"></img></a></li>
                </ul>
                <div class="tab-content">
                    <div id="aurelian" class="tab-pane fade">
                        <h3>Aurelian Hreapca</h3>
                        <p>El este seful lui Lucian Hij, un simplu sectant.</p>
                    </div>
                    <div id="danut" class="tab-pane fade">
                        <h3>Dan Morosanu</h3>
                        <p>El este seful lui Lucian Hij, un simplu sectant.</p>
                    </div>
                    <div id="nicu" class="tab-pane fade">
                        <h3>Nicolae Berendea</h3>
                        <p>El este seful lui Lucian Hij, un simplu sectant.</p>
                    </div>
                    <div id="borcan" class="tab-pane fade">
                        <h3>Virgil Barcan</h3>
                        <p>El este seful lui Lucian Hij, un simplu sectant.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" name="right-div-for-padding"></div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</html>
