<!DOCTYPE html>
<html>
    <head>
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="#">Travlr</a></div>
                <div id="navbar">
                    <form role="search">
                        <div class="navbar-form navbar-left">
                            <input type="text" class="form-control" placeholder="search travlr"/>
                            <input type="submit" class="form-control"/>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>Home</a></li>
                        <li><a>Trips</a></li>
                        <li><a>Help</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container columns">
            <div id="profile" class="col-md-2">
            </div>
            <div id="news" class="col-md-10">
                <div>Post1</div>
                <div>Post2</div>
                <div>Post3</div>
            </div>
        </div>
    </body>
</html>