@(invalidMessage: String)

@invalid = {
    @***
    * If the user has inserted invalid login data, then we display an error message
    ***@
    @if( invalidMessage != null ) {
        <div class="alert alert-danger">@invalidMessage</div>
    }
}

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.at("stylesheets/bootstrap-social.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome-4.3.0/css/font-awesome.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome-4.3.0/css/font-awesome.min.css")" rel="stylesheet">
    </head>
    <body>

        @navbarLogin()

        <!-- The main content of the page -->
        <div class="container" style="padding-top: 70px">
            <div class="row text-center">@invalid</div>
            <div class="row text-center">
                <div class="col-md-12 col-lg-12"  id="text-line">
                    <div class="col-md-5 col-lg-5" id="text-login-area">
                        <h2 class="text-center">
                            <a href="#login-area">Login</a>
                        </h2>
                    </div>

                    <div class="col-md-2 col-lg-2">
                        <h2>or</h2>
                    </div>

                    <div class="col-md-5 col-lg-5 register-area" id="text-register-area">
                        <h2>
                            <a href="#register-area">Register</a>
                        </h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12"  id="login-register">
                    <div class="col-md-5 col-lg-5 login-area" id="login-area">
                        <form class="form-horizontal" action="@routes.Login.login()" method="post" id="form-login" role="form">
                            <div class="form-group" id="email-login-div">
                                <div class="col-md-12 col-lg-12 has-feedback" id="email-login">
                                    <input class="form-control" type="email" id="email-login-input" name="email-login-input" placeholder="Email" aria-describedby="email-login-success" oninput="OnInputEmailLogin(event)" onchange="OnChangeEmailLogin(event)" />
                                    <span class="glyphicon form-control-feedback" id="email-login-glyphicon" aria-hidden="false"></span>
                                    <span id="email-login-success" class="sr-only">(success)</span>
                                </div>

                                <!--
                                <div class="input-group has-error has-feedback" id="email-login">
                                    <span class="input-group-addon">&#64;</span> <!-- 
                                    <input class="form-control" type="email" id="email-login-input" name="email" placeholder="Email" aria-describedby="email-login-success" oninput="OnInputEmailLogin(event)" />
                                    <span class="glyphicon glyphicon-remove form-control-feedback" id="email-login-glyphicon" aria-hidden="false"></span>
                                    <span id="email-login-success" class="sr-only">(success)</span>
                                </div>
                                -->
                            </div>
                            <div class="form-group" id="username-login-div">
                                <div class="col-md-12 col-lg-12">
                                    <input class="form-control" type="text" id="username-login" name="username-login" placeholder="Username" oninput="OnInputUsernameLogin(event)" onchange="OnChangeUsernameLogin(event)" />
                                </div>
                            </div>
                            <div class="form-group" id="password-login-div">
                                <div class="col-md-12 col-lg-12">
                                    <input class="form-control" type="password" id="password-login" name="password-login" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group" id="buttons-login">
                                <div class="col-md-12 col-lg-12">
                                    <div class="col-md-6 col-lg-6"></div>
                                    <button class="col-xs-12 col-sm-12 col-md-6 col-lg-6 btn btn-default" type="submit" id="button-login">Login</button>
                                </div>
                            </div>
                        </form>

                        <div class="or-line">
                            <div class="message-line text-center">
                                <h5>
                                    or <b>Login</b> with
                                </h5>
                            </div>
                            <div class="buttons-social" id="buttons-social">
                                <!--
                                <button class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-facebook" type="submit" id="button-login-facebook">Facebook</button>
                                <button class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-google" type="submit" id="button-login-google">Google</button>
                                -->
                                <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-facebook" id="button-login-facebook" href="http://facebook.com">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                                <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-google" id="button-login-google" href="https://plus.google.com">
                                    <i class="fa fa-google"></i> Google
                                </a>
                            </div>
                            <br>
                        </div>
                    </div>


                    <div class="middle-line">
                        <div class="col-md-2 col-lg-2 hidden-xs hidden-sm">
                            <div class="col-md-2 col-lg-2 vertical-line"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                            <div class="visible-xs visible-sm horizontal-line">
                                <br>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-5 register-area" id="register-area">
                        <form class="form-horizontal" action="@routes.Register.register()" method="post" id="form-register" role="form">
                            <div class="form-group" id="email-register-div">

                                <div class="col-md-12 col-lg-12 has-feedback" id="email-register">
                                    <input class="form-control" type="email" id="email-register-input" name="email-register-input" placeholder="Email" aria-describedby="email-register-success" oninput="OnInputEmailRegister(event)" onchange="OnChangeEmailRegister(event)" />
                                    <span class="glyphicon form-control-feedback" id="email-register-glyphicon" aria-hidden="false"></span>
                                    <span id="email-register-success" class="sr-only">(success)</span>
                                </div>

                                <!--
                                <div class="input-group has-error has-feedback" id="email-register">
                                    <span class="input-group-addon">&#64;</span> <!-- 
                                    <input class="form-control" type="email" id="email-register-input" name="email" placeholder="Email" aria-describedby="email-register-success" oninput="OnInputEmailRegister(event)" />
                                    <span class="glyphicon glyphicon-remove form-control-feedback" id="email-register-glyphicon" aria-hidden="false"></span>
                                    <span id="email-register-success" class="sr-only">(success)</span>
                                </div>
                                -->
                            </div>
                            <div class="form-group" id="username-register-div">
                                <div class="col-md-12 col-lg-12">
                                    <input class="form-control" type="text" id="username-register" name="username-register" placeholder="Username" onchange="OnChangeUsernameRegister(event)" />
                                </div>
                            </div>
                            <div class="form-group" id="password-register-div">
                                <div class="col-md-12 col-lg-12">
                                    <input class="form-control" type="password" id="password-register" name="password-register" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group" id="buttons-register">
                                <div class="col-md-12 col-lg-12">
                                    <div class="col-md-6 col-lg-6"></div>
                                    <button class="col-xs-12 col-sm-12 col-md-6 col-lg-6 btn btn-default" type="submit" id="button-register">Register</button>
                                </div>
                            </div>
                        </form>

                        <div class="or-line">
                            <div class="message-line text-center">
                                <h5>
                                    or <b>Register</b> with
                                </h5>
                            </div>
                            <!--
                            <button class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-facebook" type="submit" id="button-register-facebook">Facebook</button>
                            <button class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-google" type="submit" id="button-register-google">Google</button>
                            -->
                            <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-facebook" id="button-register-facebook" href="http://facebook.com">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-google" id="button-register-google" href="https://plus.google.com">
                                <i class="fa fa-google"></i> Google
                            </a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <footer style="text-align: center">
            <h6>Web Technologies <em>Travlr</em>
            </h6>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/validateLoginRegister.js")"></script>
    </body>
</html>