@(invalidMessage: String)

@invalid = {
    @***
    * If the user has inserted invalid login data, then we display an error message
    ***@
    @if( invalidMessage != null ) {
        <div id="warning-message" class="alert alert-danger">@invalidMessage</div>
        <script>
            var timeout = 5000;

            setTimeout(function() {
                var div_id = document.getElementById("warning-message");
                if(div_id != null) {
                    div_id.parentNode.removeChild(div_id);
                }

            }, timeout);
        </script>
    }
}

<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Travlr - Login or Sign up</title>
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.at("stylesheets/bootstrap-social.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome-4.3.0/css/font-awesome.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome-4.3.0/css/font-awesome.min.css")" rel="stylesheet">
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">

        <!-- ====================================== Google+ API ============================================= -->
		<meta name="google-signin-clientid" content="930780774504-ticc07k6r21cejeslf2pcru6etaj4d9n.apps.googleusercontent.com" />
		<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login email" /> <!-- TODO: Remove "email" -->
		<meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
		<meta name="google-signin-cookiepolicy" content="single_host_origin" />

		<script src="https://apis.google.com/js/client:platform.js?onload=renderGooglePlus" async defer></script>
		<script type="text/javascript">
		 /* Executed when the APIs finish loading */
		 function renderGooglePlus() 
		 {		    
		    gapi.load('auth2', function() 
		    {
		      gapi.client.load('plus', 'v1').then(function() 
		      {

		       // Additional params including the callback, the rest of the params will
		       // come from the page-level configuration.
		       var additionalParams = {
		         'callback': signinCallback
		       };

		       // Attach a click listener to a button to trigger the flow.
		       var signinLoginButton = document.getElementById('button-login-google');
		       var signinRegisterButton = document.getElementById('button-register-google');

		       var isLogin = true;

		       signinLoginButton.addEventListener('click', function() 
		       {
		           isLogin = true;
		           disable_buttons();
		           gapi.auth.signIn(additionalParams); // Will use page level configuration
		       });

		       signinRegisterButton.addEventListener('click', function() 
		       {
		           isLogin = false;
		           disable_buttons();
		           gapi.auth.signIn(additionalParams); // Will use page level configuration
		       });
		        
		       function signinCallback(authResult) 
		       {
		       		enable_buttons();

		          
		          /*
		            people: function() {
		              gapi.client.plus.people.list({
		                'userId': 'me',
		                'collection': 'visible'
		              }).then(function(res) {
		                var people = res.result;
		                $('#visiblePeople').empty();
		                $('#visiblePeople').append('Number of people visible to this app: ' +
		                    people.totalItems + '<br/>');
		                for (var personIndex in people.items) {
		                  person = people.items[personIndex];
		                  $('#visiblePeople').append('<img src="' + person.image.url + '">');
		                }
		              });
		            },

		          */

		          if (authResult['status']['signed_in'] && authResult['status']['method'] == 'PROMPT')
		          {		            

					gapi.client.plus.people.get({'userId': 'me'}).then(function(res) 
					{
						var first_name, last_name, gender, email;
					    var profile = res.result;

						// profile.displayName

						first_name = profile.name.familyName;
						last_name = profile.name.givenName;
						gender = profile.gender;

						if (profile.emails) 
							email = profile.emails[0].value;

						if(isLogin) // Login
			            {
							$.ajax({
							  method: "GET",
							  url: "@routes.Login.loginGP()",
							  data: {'first_name': first_name,
			              		'last_name': last_name,
			              		'email': email,
			              		'gender': gender}
							})
							  .done(function( msg ) {
							    // alert( "Data Saved: " + msg );
							    if(msg == "/home") { // TODO: Remove hardcoding + Login.java
							    	// window.location.href = window.location.href + msg;
							    	window.location.href = msg;
							    }
							  });
			            }
			            else // Register
			            {
							$.ajax({
							  method: "GET",
							  url: "@routes.Register.registerGP()",
							  data: {'first_name': first_name,
			              		'last_name': last_name,
			              		'email': email,
			              		'gender': gender}
							})
							  .done(function( msg ) {
							    // alert( "Data Saved: " + msg );
							    if(msg == "/edit_user_data_page") { // TODO: Remove hardcoding + Register.java
							    	// window.location.href = window.location.href + msg;
							    	window.location.href = msg;
							    }
						  	});
			            }						
					});

		            
		          } 
		          else 
		          {
		            // Update the app to reflect a signed out user
		            // Possible error values:
		            //   "user_signed_out" - User is signed-out
		            //   "access_denied" - User denied access to your app
		            //   "immediate_failed" - Could not automatically log in the user
		            // console.log('Sign-in state: ' + authResult['error']);
		          }
		       }

		       });

	      	});//Load Google + API
		 }
		</script>

    </head>
    <body>
        <script>

          function statusChangeCallbackRegister(response) 
          {
          		if (response.status === 'connected') // Register into your app and Facebook.
          		{
					FB.api('/me', function(response) {
		              	// console.log('Successful login for: ' + response.name);

						$.ajax({
						  method: "GET",
						  url: "@routes.Register.registerFB()",
						  data: {'first_name': response.first_name,
		              		'last_name': response.last_name,
		              		'email': response.email,
		              		'gender': response.gender}
						})
						  .done(function( msg ) {
						    // alert( "Data Saved: " + msg );
						    if(msg == "/edit_user_data_page") { // TODO: Remove hardcoding + Register.java
						    	// window.location.href = window.location.href + msg;
						    	window.location.href = msg;
						    }
						  });
		            });   
          		}
          		else // No register
          		{

          		}

          		enable_buttons();
          }

          function statusChangeCallbackLogin(response) 
          {
            // console.log('statusChangeCallbackLogin');
            // console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().

            if (response.status === 'connected') // Logged into your app and Facebook.
            {              
				FB.api('/me', function(response) {
	              	// console.log('Successful login for: ' + response.name);

					$.ajax({
					  method: "GET",
					  url: "@routes.Login.loginFB()",
					  data: {'first_name': response.first_name,
	              		'last_name': response.last_name,
	              		'email': response.email,
	              		'gender': response.gender}
					})
					  .done(function( msg ) {
					    // alert( "Data Saved: " + msg );
					    if(msg == "/home") { // TODO: Remove hardcoding + Login.java
					    	// window.location.href = window.location.href + msg;
					    	window.location.href = msg;
					    }
					  });
	            });   
            } 
            else // Not logged in
            {

            }

            enable_buttons();

            /*
            else if (response.status === 'not_authorized') // The person is logged into Facebook, but not your app.
            {
              alert('Please log into this app.');
            } 
            else // The person is not logged into Facebook, so we're not sure if they are logged into this app or not.              
            { 
              alert('Please log into Facebook.');
            }
            */
          }


          // This function is called when someone finishes with the Login
          // Button.  See the onlogin handler attached to it in the sample
          // code below.
          function checkLoginState() {
            FB.getLoginStatus(function(response) {
              statusChangeCallbackLogin(response);
            });
          }

          window.fbAsyncInit = function() {
              FB.init({
                appId      : '395813637270170',
                cookie     : true,  // enable cookies to allow the server to access 
                                    // the session
                xfbml      : true,  // parse social plugins on this page
                version    : 'v2.3' // use version 2.2
              });

              // Now that we've initialized the JavaScript SDK, we call 
              // FB.getLoginStatus().  This function gets the state of the
              // person visiting this page and can return one of three states to
              // the callback you provide.  They can be:
              //
              // 1. Logged into your app ('connected')
              // 2. Logged into Facebook, but not your app ('not_authorized')
              // 3. Not logged into Facebook and can't tell if they are logged into
              //    your app or not.
              //
              // These three cases are handled in the callback function.

              /*
              FB.getLoginStatus(function(response) {
                statusChangeCallbackLogin(response);
              });
			  */

          };

          	function enable_buttons() 
          	{
		      	if(document.getElementById("button-register").disabled || document.getElementById("button-login"))
		        {
		        	document.getElementById("button-register-facebook").disabled = false;
					document.getElementById("button-register-google").disabled = false;
					document.getElementById("button-register").disabled = false;

					document.getElementById("button-login-facebook").disabled = false;
					document.getElementById("button-login-google").disabled = false;
					document.getElementById("button-login").disabled = false;
		        }
        	}
          
          	function disable_buttons() 
          	{
          		document.getElementById("button-register-facebook").disabled = true;
				document.getElementById("button-register-google").disabled = true;
				document.getElementById("button-register").disabled = true;

				document.getElementById("button-login-facebook").disabled = true;
				document.getElementById("button-login-google").disabled = true;
				document.getElementById("button-login").disabled = true;
          	}
          
          function fb_login() 
          {
            FB.login(function(response) 
            {
            	disable_buttons();

                statusChangeCallbackLogin(response);
            }, 
            {
        		//scope: "public_profile,email,user_friends",
        		scope: "public_profile,email,user_friends",
            	return_scopes: true 
            });
          }

          function fb_register() 
          {
            FB.login(function(response) 
            {
            	disable_buttons();

                statusChangeCallbackRegister(response);
            }, 
            {
        		//scope: "public_profile,email,user_friends",
        		scope: "public_profile,email,user_friends",
            	return_scopes: true 
            });
          }

          // Load the SDK asynchronously
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        </script>
        
        <!--
          Below we include the Login Button social plugin. This button uses
          the JavaScript SDK to present a graphical Login button that triggers
          the FB.login() function when clicked.
        -->

        <!--<fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div id="status">
        </div>      
        -->
    
        @navbarLogin()

        <!-- The main content of the page -->
        <div class="container" style="padding-top: 70px">
            <div class="row text-center">@invalid</div>
            <div class="row text-center">
                <div class="col-md-12 col-lg-12"  id="text-line">
                    <div class="col-md-5 col-lg-5" id="text-login-area">
                        <h2 class="text-center">
                            <a href="#login-area">Login</a>
                        </h2>
                    </div>

                    <div class="col-md-2 col-lg-2">
                        <h2>or</h2>
                    </div>

                    <div class="col-md-5 col-lg-5 register-area" id="text-register-area">
                        <h2>
                            <a href="#register-area">Register</a>
                        </h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12"  id="login-register">
                    <div class="col-md-5 col-lg-5 login-area" id="login-area">
                        <form class="form-horizontal" action="@routes.Login.login()" method="post" id="form-login" role="form">
                            <div class="form-group" id="email-login-div">
                                <div class="col-md-12 col-lg-12 has-feedback" id="email-login">
                                    <input class="form-control" type="email" id="email-login-input" name="email-login-input" placeholder="Email" aria-describedby="email-login-success" oninput="OnInputEmailLogin(event)" onchange="OnChangeEmailLogin(event)" />
                                    <span class="glyphicon form-control-feedback" id="email-login-glyphicon" aria-hidden="false"></span>
                                    <span id="email-login-success" class="sr-only">(success)</span>
                                </div>

                                <!--
                                <div class="input-group has-error has-feedback" id="email-login">
                                    <span class="input-group-addon">&#64;</span> <!-- 
                                    <input class="form-control" type="email" id="email-login-input" name="email" placeholder="Email" aria-describedby="email-login-success" oninput="OnInputEmailLogin(event)" />
                                    <span class="glyphicon glyphicon-remove form-control-feedback" id="email-login-glyphicon" aria-hidden="false"></span>
                                    <span id="email-login-success" class="sr-only">(success)</span>
                                </div>
                                -->
                            </div>
                            <div class="form-group" id="username-login-div">
                                <div class="col-md-12 col-lg-12">
                                    <input class="form-control" type="text" id="username-login" name="username-login" placeholder="Username" oninput="OnInputUsernameLogin(event)" onchange="OnChangeUsernameLogin(event)" />
                                </div>
                            </div>
                            <div class="form-group" id="password-login-div">
                                <div class="col-md-12 col-lg-12">
                                    <input class="form-control" type="password" id="password-login" name="password-login" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group" id="buttons-login">
                                <div class="col-md-12 col-lg-12">
                                    <div class="col-md-6 col-lg-6"></div>
                                    <button class="col-xs-12 col-sm-12 col-md-6 col-lg-6 btn btn-default" type="submit" id="button-login">Login</button>
                                </div>
                            </div>
                        </form>

                        <div class="or-line">
                            <div class="message-line text-center">
                                <h5>
                                    or <b>Login</b> with
                                </h5>
                            </div>
                            <div class="buttons-social" id="buttons-social">
                                <!--
                                <button class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-facebook" type="submit" id="button-login-facebook">Facebook</button>
                                <button class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-google" type="submit" id="button-login-google">Google</button>
                                -->
                                <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-facebook" id="button-login-facebook" href="#" onclick="fb_login();">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                                <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-google" id="button-login-google" href="#"> <!-- https://plus.google.com -->
                                    <i class="fa fa-google"></i> Google
                                </a>
                            </div>
                            <br>
                        </div>
                    </div>


                    <div class="middle-line">
                        <div class="col-md-2 col-lg-2 hidden-xs hidden-sm">
                            <div class="col-md-2 col-lg-2 vertical-line"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                            <div class="visible-xs visible-sm horizontal-line">
                                <br>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-lg-5 register-area" id="register-area">
                        <form class="form-horizontal" action="@routes.Register.register()" method="post" id="form-register" role="form">
                            <div class="form-group" id="email-register-div">

                                <div class="col-md-12 col-lg-12 has-feedback" id="email-register">
                                    <input class="form-control" type="email" id="email-register-input" name="email-register-input" placeholder="Email" aria-describedby="email-register-success" oninput="OnInputEmailRegister(event)" onchange="OnChangeEmailRegister(event)" />
                                    <span class="glyphicon form-control-feedback" id="email-register-glyphicon" aria-hidden="false"></span>
                                    <span id="email-register-success" class="sr-only">(success)</span>
                                </div>

                                <!--
                                <div class="input-group has-error has-feedback" id="email-register">
                                    <span class="input-group-addon">&#64;</span> <!-- 
                                    <input class="form-control" type="email" id="email-register-input" name="email" placeholder="Email" aria-describedby="email-register-success" oninput="OnInputEmailRegister(event)" />
                                    <span class="glyphicon glyphicon-remove form-control-feedback" id="email-register-glyphicon" aria-hidden="false"></span>
                                    <span id="email-register-success" class="sr-only">(success)</span>
                                </div>
                                -->
                            </div>
                            <div class="form-group" id="username-register-div">
                                <div class="col-md-12 col-lg-12">
                                    <input class="form-control" type="text" id="username-register" name="username-register" placeholder="Username" onchange="OnChangeUsernameRegister(event)" />
                                </div>
                            </div>
                            <div class="form-group" id="password-register-div">
                                <div class="col-md-12 col-lg-12">
                                    <input class="form-control" type="password" id="password-register" name="password-register" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group" id="buttons-register">
                                <div class="col-md-12 col-lg-12">
                                    <div class="col-md-6 col-lg-6"></div>
                                    <button class="col-xs-12 col-sm-12 col-md-6 col-lg-6 btn btn-default" type="submit" id="button-register">Register</button>
                                </div>
                            </div>
                        </form>

                        <div class="or-line">
                            <div class="message-line text-center">
                                <h5>
                                    or <b>Register</b> with
                                </h5>
                            </div>
                            <!--
                            <button class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-facebook" type="submit" id="button-register-facebook">Facebook</button>
                            <button class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-google" type="submit" id="button-register-google">Google</button>
                            -->
                            
                            <!-- Register -->
                            <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-facebook" id="button-register-facebook" href="#" onclick="fb_register();">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn btn-social btn-google" id="button-register-google" href="#"> <!-- https://plus.google.com -->
                                <i class="fa fa-google"></i> Google
                            </a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <footer style="text-align: center">
            <h6>Web Technologies <em>Travlr</em>
            </h6>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/validateLoginRegister.js")"></script>
    </body>
</html>