<!DOCTYPE html>
<html>
    <head>
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.at("stylesheets/bootstrap-social.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/font-awesome-4.3.0/css/font-awesome.min.css")" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <style>
            a {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>

        @navbar()
    
        <div class="group_form container center text-center vertical-center" style="padding-top: 250px">
            <h1>We're sorry<h1>
            <h2>The requested page does not exist</h2>
            <h4><a href="/home">Home</a></h4>
        </div>
    </body>
</html>
