@(userInfo: UserInfo)
<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
        <!--link href="@routes.Assets.at("stylesheets/jquery-ui.min.css")" rel="stylesheet"-->
        <style>
        html, body, #map-canvas {
            height: 500px;
            margin: 0px;
            padding: 0px
        }
        #panel {
            position: absolute;
            top: 5px;
            left: 50%;
            margin-left: -180px;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
        }
        </style>
    </head>
    <body>
        @navbar(userInfo)
        <div class="container columns" style="padding-top: 70px">
            <div id="profile" class="col-md-6">
                <form action="" method="post">
                    <input type="hidden" name="cnt" value="2" />
                    @tripView("Source", "From", 0, true)
                    <hr />
                    @tripView("Destination", "To", 1, false)
                    <!--button>Add waypoints</button-->
                    <br />
                    <button class="btn btn-default" name="submit" value="submit">search</button>
                </form>
            </div>            
            <div id="news" class="col-md-6">
                <p>text</p>
                <div id="map-canvas"></div>
            </div>
        </div>
        

        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        <script>
        var geocoder;
        var map;
        var infowindow = new google.maps.InfoWindow();
        var marker;
        var infowindow = new google.maps.InfoWindow();
        function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(40.730885,-73.997383);
        var mapOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: 'roadmap'
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        google.maps.event.addListener(map, "click", function(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        var latlng = new google.maps.LatLng(lat, lng);
        marker = new google.maps.Marker({
            position : latlng,
            map : map
        });
        infowindow.setContent("text");
        infowindow.open(map, marker);
        //alert("Lat=" + lat + "; Lng=" + lng);
        });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </body>
</html>